@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  40%,
  60% {
    transform: translate3d(0, 50%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.fade-container {
  position: relative;
}

.fade-up {
  background-color: red;
  // height: 50%;
  overflow: hidden;

  position: absolute;
  // width: 100%;

  // animation: showTopText 1s;
  // animation-delay: 0.5s;
  // animation-fill-mode: forwards;
  bottom: 0;
  // transform: translate(0, 100%);
}

// animation: showTopText 1s;
//   animation-delay: 0.5s;
//   animation-fill-mode: forwards;
//   bottom: 0;
//   transform: translate(0, 100%);
