%default-colors-date-picker {
  background-color: var(--primary-background-color);
  color: var(--primary-font-color) !important;
  border-color: var(--primary-border-color) !important;
  svg {
    fill: var(--primary-font-color) !important;
  }
}
.rdatez {
  position: inherit;
  .rdatez-picker {
    padding: 2rem 1rem;
    // margin-top: 55px;
  }
  input {
    padding: 0.75rem;
    border: var(--primary-border);
    border-radius: 0.3rem;
  }

  .cal-icon {
    fill: var(--primary-font-color);
  }

  .rdatez-picker {
    &:after {
      border-bottom-color: var(--primary-border-color);
    }
    &:before {
      border-bottom-color: var(--primary-border-color);
    }
  }

  .rdatez-btn,
  .rdatez-picker,
  .rdatez-header,
  .rdatez-calendar-year,
  .rdatez-year,
  .rdatez-calendar-month {
    @extend %default-colors-date-picker;
  }

  .rdatez-day,
  .rdatez-year,
  .rdatez-month {
    color: var(--primary-font-color);
    border-color: var(--primary-border-color) !important;
    &:hover {
      border: var(--primary-border) !important;
      background-color: var(--react-select-hover-color);
    }
  }
}
.selected-day {
  background: none !important;
  background-color: var(--primary) !important;
  color: --primary-font-color !important;
}
.rdatez-day {
}

@media (max-width: 768px) {
  .rdatez-header {
    right: 13px;
    .rdatez-mobile-close {
      cursor: pointer;
    }
  }
  .rdatez-calendar-month,
  .rdatez-calendar-year {
    position: absolute;
    height: 100%;
  }
}

.rdatez {
  input {
    display: none;
  }
}

@media (min-width: 768px) {
  .rdatez {
    position: inherit;
    .rdatez-picker {
      margin-top: 55px;
    }
  }
}
