.cookieConsent {
    bottom: 0px; 
    align-items: center;
    background: var(--footer-bg-color);
    color: var(--footer-text-color); 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    left: 0px; 
    position: fixed; 
    width: 100%; 
    z-index: 999;

    .content {
        flex: 1 0 300px;
        margin: 15px;
    }
    .button {
        font-size: 0.85rem;
        align-items: center;
        background: var(--primary);
        border: none;
        border-radius: var(--primary-border-radius);
        box-shadow: 1px 1px 3px rgb(0 0 0 / 15%);
        padding: 0.5rem 1rem;
        color: var(--primary-font-color-button);

        cursor: pointer;
        flex: 0 0 auto;
        padding: 5px 10px;
        margin: 15px;
    }
}