@mixin cssvars($css_variables, $prefix: pf) {
  :root {
    @each $name, $value in $css_variables {
      --#{$prefix}-#{$name}: #{$value};
    }
  }
}

@mixin my-animated-link($the-color) {
  &.active {
    color: $the-color;
    &::after {
      width: 100%;
    }
  }
  :after {
    content: '';
    display: block;
    width: 0;
    height: 0.1rem;
    background: $the-color;
    transition: width 0.3s;
  }
}

@mixin my-clickable($the-color, $the-color-hover, $the-background, $underline, $addPadding) {
  color: $the-color;

  border-radius: var(--primary-border-radius);
  transition: background-color 500ms;
  cursor: pointer;
  text-decoration: none;
  path {
    fill: $the-color;
  }

  a,
  .icon {
    color: $the-color;
  }

  &[role='button'] {
    &:not(.dropdown-item) {
      color: $the-color;
    }
  }

  &:hover,
  &:active,
  &:focus,
  &.actives {
    color: $the-color-hover;
    background-color: $the-background;

    transition: background-color 500ms;
    text-decoration: none;

    &[role='button'] {
      &:not(.dropdown-item) {
        color: $the-color-hover;
      }
    }
  }

  &.disabled {
    cursor: none;
  }

  &.busy {
    cursor: progress;
  }

  @if $underline {
    &.active {
      &:after {
        width: 100%;
      }
    }
    &:after {
      content: '';
      display: block;
      width: 0;
      height: 0.1rem;
      background-color: $the-color;
      transition: width 0.3s;
    }
  }
}

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { ... }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// // X-Large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }

// // XX-Large devices (larger desktops, 1400px and up)
// @media (min-width: 1400px) { ... }
