// $test: green;
.dark {
  // --primary: ;
  // --primary-hover:
  --primary-hover-background: var(--accent-18);
  // --primary-active:
  --secondary: #fff;
  --tertiary: var(--primary);

  --nprogress-color: var(--primary);

  --overlay-color: rgba(26, 26, 26, 0.7);

  --primary-app-background-color: #0D0D0D;//#0f0f0f;
  --primary-background-color: var(--primary-app-background-color);// #000000//#0f0f0f; //#0B1717;

  // --primary-app-background-color: hsl(195, 76%, 3%);
  // --primary-background-color: #0e1e25; // hsl(195, 76%, 3%); //var(--color-dark-black-default); //#1c1c1c
  --primary-background-color-1: #131313;//#121f25; // hsl(195, 76%, 3%); //var(--color-dark-black-default); //#1c1c1c // 172f39
  --primary-background-color-2: #171717;//#121f25; // hsl(195, 76%, 3%); //var(--color-dark-black-default); //#1c1c1c // 172f39
  --primary-background-color-3: #1C1C1C;
  --primary-background-color-4: #1F1F1F;
  --primary-background-color-5: #242424;
  --primary-background-color-6: #333333;
  
  
  // --primary-background-color-3: #1a2d35;

  --primary-font-color: var(--accents-2);
  --primary-font-highlight-color: var(--accents-1);
  // --primary-font-color-button:;

  --primary-link-color: var(--primary);

  --primary-gray: var(--primary-background-color-6);//#25373e;
  --primary-border-color: var(--primary-background-color-5); //var(--primary-background-color-3);
  // --primary-border: 1px var(--primary-background-color-3) solid;
  // --primary-border: 1px var(--primary-border-color) solid;
  --primary-border: 1px var(--primary-border-color) solid;

  // --primary-border-color: --primary-gray;
  // --primary-border: 1px var(--primary-border-color) solid;

  // --color-error: #dc3545; //#721c24;
  // --color-error-background: #f8d7da;

  --color-active: #66afe9;
  // --color-active: #f8d7da;
  // --color-error-font: #dc3545; //#721c24;

  --box-shadow: 0;
  // --box-shadow-active: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
  // --box-shadow-error: 0 0 0 0.125rem rgb(220 53 69 / 25%);

  --react-select-hover-color: var(--primary-background-color-4);//#25373e;
  --react-select-active-color: var(--primary-background-color-4);//#21373f;

  // --input-border: 1px var(--primary-border-color) solid;
  --input-border: 1px var(--primary-border-color) solid;
  

  --tournament-summary-border: 0;
  --card-border: 0;
  --card-title-contrasted-color: var(--primary-background-color-2);

  // --shimmer-color: #16262c;
  // --shimmer-gradient: linear-gradient(
  //   to right,
  //   var(--shimmer-color) 0%,
  //   #1e2a2e 20%,
  //   var(--shimmer-color) 40%,
  //   var(--shimmer-color) 100%
  // );
  --shimmer-color: var(--primary-background-color-3);
  --shimmer-gradient: linear-gradient(
    to right,
    var(--shimmer-color) 0%,
    var(--primary-background-color-5) 20%,
    var(--shimmer-color) 40%,
    var(--shimmer-color) 100%
  );

  // --shimmer-gradient: linear-gradient(90deg,#f6f7f9 0,#e9ebee 20%,#f6f7f9 40%,#f6f7f9);

  // background: #f6f7f8;
  // --shimmer-gradient: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  --tournament-main-background: var(--primary-app-background-color);

  --logo-primary: var(--primary);
  --logo-secondary: #242424;
  --logo-tertiary: white;

  --navbar-inverse: var(--primary-app-background-color);
  --navbar-name-inverse: var(--primary);

  --tabs-border: 0;
  --tabs-border-forced: 1px var(--primary-background-color-5) solid;
  // #172f39

  --select-background-color: var(--primary-app-background-color);
  --select-border-color: var(--primary-background-color-3);

  --tournament-game-summary-border: 0;

  --bracket-wins-background: var(--primary-background-color-5);
  --bracket-border: 0;

  --table-heading-background-color: var(--primary-background-color-2);
  --table-row-background-color: var(--primary-background-color-3);
  --table-row-striped-background-color: var(--primary-background-color-2);
  --table-border: 0;

  --notification-progress-bar-color: var(--primary-background-color-3); //var(--primary);

  --footer-text-color: #fff;
  --footer-bg-color: #040708;

  --image-overlay-color: rgba(0, 0, 0, 0.2);
}
