$primary: #ff851a;
:root {
  --primary: #{$primary};
  --primary-hover: #{darken($primary, 10%)};
  --primary-hover-background: var(--accents-2);

  --primary-active: #{darken($primary, 20%)};
  --secondary: #fff;
  --tertiary: var(--primary);

  --overlay-color: rgb(234, 234, 234, 0.7);

  --nprogress-color: var(--secondary);

  --primary-app-background-color: #f5f5f5;
  --primary-background-color: #fff;
  --primary-background-color-hover: #{darken(#fff, 2%)};
  // --primary-background-color-2: #172f39; // hsl(195, 76%, 3%); //var(--color-dark-black-default); //#1c1c1c
  // --primary-background-color-3: #1f404f;
  --primary-background-color-4: #f5f5f5;
  --primary-font-color: #212529; //var(--accents-5);
  --primary-font-highlight-color: var(--primary-accents-6);
  // --primary-font-color-button: #fff;

  --primary-link-color: var(--primary);

  --primary-gray: #ddd;
  --primary-border-color: var(--primary-gray);
  --primary-border: 1px var(--primary-border-color) solid;

  --color-error: #dc3545; //#721c24;
  --color-error-background: #f8d7da;

  --color-active: #66afe9;
  // --color-active: #f8d7da;
  // --color-error-font: #dc3545;

  --box-shadow: 0 2px 6px 0 #e0e4e7, inset -1px 0 0 0 rgb(224 227 231 / 30%), inset 0 -1px 0 0 #e0e4e7,
    inset 1px 0 0 0 rgb(224 227 231 / 20%);
  --box-shadow-active: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
  --box-shadow-error: 0 0 0 0.125rem rgb(220 53 69 / 25%);

  // --react-select-hover-color: var(--primary-hover); //#deebff;
  --react-select-hover-color: #deebff;
  --react-select-active-color: #{lighten($primary, 5%)}; //var(--primary); //var(--color-active);

  --input-border: var(--primary-border);

  --tournament-summary-border: 0;//0.1rem #ddd solid;
  --card-border: 1px #ddd solid;
  --card-title-contrasted-color: rgba(0, 0, 0, 0.03);

  // --shimmer-color: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  $light: rgba(238,238,238,1);
$dark: rgba(226,226,226,1);
  // --shimmer-color: $light;//linear-gradient(90deg, $dark 9%, $light 18%, $dark 31%);
  // --shimmer-gradient: linear-gradient(
  //   to right,
  //   var(--shimmer-color) 0%,
  //   #1e2a2e 20%,
  //   var(--shimmer-color) 40%,
  //   var(--shimmer-color) 100%
  // );
  --shimmer-color: #f6f7f8;
  --shimmer-gradient: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  // --shimmer-gradient: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  --tournament-main-background: white; ///var(--primary-app-background-color);

  --logo-primary: #ffae68;
  --logo-secondary: #000000;
  --logo-tertiary: white;

  --navbar-inverse: var(--primary);
  --navbar-name-inverse: var(--secondary);

  --tabs-border: var(--primary-border);
  --tabs-border-forced: var(--primary-border);
  --maps-marker-font-color: var(--accents-5);

  --select-background-color: var(--primary-background-color);
  --select-border-color: var(--primary-border-color);

  --tournament-game-summary-border: var(--primary-border);
  --bracket-wins-background: #f5f5f5;
  --bracket-border: var(--primary-border);

  --table-heading-background-color: var(--primary-background);
  --table-row-background-color: #f9f9f9; //var(--primary-background-color-3);
  --table-row-striped-background-color: var(--primary-background-color-2);
  --table-border: 1px solid #dee2e6;

  --notification-progress-bar-color: white; //var(--primary);

  --footer-text-color: #fff;
  --footer-bg-color: #040708;

  --image-overlay-color: rgba(0, 0, 0, 0.08);
}
