:root {
  --accents-1: #fafafa;
  --accents-2: #eaeaea;
  --accents-3: #999999;
  --accents-4: #888888;
  --accents-5: #666666;
  --accents-6: #444444;
  --accents-7: #333333;
  --accents-8: #111111;

  --accent-18: hsla(0, 0%, 100%, 0.18);

  --color-dark-black-darker: #021117;
  --color-dark-black-default: #0e1e25;
  --color-dark-gray-darkest: #16262c;
  --color-dark-gray-darker: #1b2b32;
  --color-dark-gray-dark: #243238;
  --color-dark-gray-default: #48565b;
  --color-dark-gray-light: #7e878b;
  --color-dark-gray-lighter: #a4aaad;

  --step--3: clamp(0.75rem, 0.65rem + 0.46vw, 1rem);
  --step--2: clamp(0.91rem, 0.8rem + 0.56vw, 1.2rem);
  --step--1: clamp(1.09rem, 0.94rem + 0.79vw, 1.5rem);
  --step-0: clamp(1.31rem, 1.09rem + 1.1vw, 1.88rem);
  --step-1: clamp(1.58rem, 1.28rem + 1.5vw, 2.34rem);
  --step-2: clamp(1.89rem, 1.48rem + 2.03vw, 2.93rem);
  --step-3: clamp(2.27rem, 1.72rem + 2.72vw, 3.66rem);
  --step-4: clamp(2.72rem, 2rem + 3.62vw, 4.58rem);
  --step-5: clamp(3.27rem, 2.31rem + 4.79vw, 5.72rem);

  --padding-1: 0.1rem;
  --padding-2: 0.5rem;
  --padding-3: 1rem;

  --index-back: -1;
  --index-backer: -2;
  --index-backer-more: -3;
  --index-default: 0;
  --index-front: 1;

  // --primary-border-radius: 0.2rem; //2px;
  --primary-border-radius: 0.2rem; //2px;

  --transition-duration: 300ms;
  --transition-function: cubic-bezier(0.645, 0.045, 0.355, 1);

  --transition-linear: var(--transition-duration) linear;
  --transition-delay: var(--transition-duration) var(--transition-function);

  --z-index-filter-start: 1100;
  --z-index-modal: 2000;

  --navbar-height: 5rem;
}
